In [142]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [144]:
df = pd.read_csv("vacancies.csv") 
df

,id,title,company_name,currency,experience,type_of_employment,work_format,description,skills,address,published_at,archived,url,min_experience,max_experience,salary_to,salary_from,russian_salary_to,russian_salary_from
0,112352524,Системный аналитик,Медиа Сервис,NaN,От 3 до 6 лет,Полная занятость,Удаленная работа,<p>Мы – современная аккредитованная IT- компан...,{},Санкт-Петербург,2024-12-02 17:36:51,False,https://hh.ru/vacancy/112352524,3,6.0,NaN,NaN,NaN,NaN
1,110739510,Ведущий аналитик данных,Банк Синара,NaN,От 1 года до 3 лет,Полная занятость,Полный день,<p><strong>АО Банк Синара</strong> финансовая ...,"{SQL,Python,""Визуализация данных"",""Интерпретац...",Челябинск,2024-12-23 15:08:11,False,https://hh.ru/vacancy/110739510,1,3.0,NaN,NaN,NaN,NaN
2,111973043,Системный аналитик (Intelligent Document Proce...,СБЕР,NaN,От 3 до 6 лет,Полная занятость,Полный день,<p>Мы разрабатываем продукты для решения задач...,{},Москва,2024-12-24 14:30:29,False,https://hh.ru/vacancy/111973043,3,6.0,NaN,NaN,NaN,NaN
3,112178936,Продуктовый аналитик,Lamoda Tech,NaN,От 1 года до 3 лет,Полная занятость,Полный день,<p>Мы в поиске <strong>Продуктового аналитика<...,"{SQL,Python,""Power BI"",""A/B тесты""}",Москва,2024-12-02 13:20:42,False,https://hh.ru/vacancy/112178936,1,3.0,NaN,NaN,NaN,NaN
4,112550498,Старший Аналитик,HR-Stalker,USD,От 3 до 6 лет,Полная занятость,Удаленная работа,<p><strong>Improvado</strong><br />Американска...,"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,2024-12-04 21:30:19,False,https://hh.ru/vacancy/112550498,3,6.0,5200.0,4500.0,459613.44,397742.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,112543174,Экономист-аналитик,ТД «Рос-Пак»,RUR,От 1 года до 3 лет,Полная занятость,Удаленная работа,<p>В связи с расширение производства и выходом...,"{""Работа с большим объемом информации"",Бюджети...",Краснодар,2024-12-04 17:40:16,False,https://hh.ru/vacancy/112543174,1,3.0,80000.0,NaN,80000.00,NaN
5572,107686857,Аналитик,СГМК,RUR,Нет опыта,Полная занятость,Полный день,<p><strong>Мы - Сибирская горно-металлургическ...,"{Ответственность,Внимательность,Коммуникабельн...",Новокузнецк,2024-12-19 08:45:35,False,https://hh.ru/vacancy/107686857,0,0.0,NaN,60000.0,NaN,60000.0
5573,112281035,Системный аналитик,Инновационный центр КАМАЗ,RUR,От 3 до 6 лет,Полная занятость,Полный день,<p><strong>ООО «Инновационный центр «КАМАЗ»</s...,{},Москва,2024-12-01 18:48:11,False,https://hh.ru/vacancy/112281035,3,6.0,NaN,200000.0,NaN,200000.0
5574,115416164,Химик-аналитик в Фруктис (ст.Старовеличковская),АПК Астраханский,RUR,От 1 года до 3 лет,Полная занятость,Сменный график,<strong>Обязанности:</strong> <ul> <li>Проведе...,{},Тимашевск,2025-01-13 14:18:50,False,https://hh.ru/vacancy/115416164,1,3.0,NaN,55000.0,NaN,55000.0
5575,115416165,Химик-аналитик в Фруктис (ст.Старовеличковская),АПК Астраханский,RUR,От 1 года до 3 лет,Полная занятость,Сменный график,<strong>Обязанности:</strong> <ul> <li>Проведе...,{},Новотитаровская,2025-01-13 14:18:50,False,https://hh.ru/vacancy/115416165,1,3.0,NaN,55000.0,NaN,55000.0

In [145]:
missing = (df.isna().sum() / len(df)) * 100
missing = missing[missing > 0].sort_values(ascending=False)
missing = pd.DataFrame({'Процент пропущенных значений' : missing})
missing

                     Процент пропущенных значений
salary_to                               84.433286
russian_salary_to                       84.433286
salary_from                             74.121234
russian_salary_from                     74.121234
currency                                69.996413
max_experience                           2.295552

In [146]:
# Первичный анализ
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5576 non-null   int64
 1   title                5576 non-null   object
 2   company_name         5576 non-null   object
 3   currency             1673 non-null   object
 4   experience           5576 non-null   object
 5   type_of_employment   5576 non-null   object
 6   work_format          5576 non-null   object
 7   description          5576 non-null   object
 8   skills               5576 non-null   object
 9   address              5576 non-null   object
 10  published_at         5576 non-null   object
 11  archived             5576 non-null   bool
 12  url                  5576 non-null   object
 13  min_experience       5576 non-null   int64
 14  max_experience       5448 non-null   float64
 15  salary_to            868 non-null    float64
 16  salary_from          1443 non-null   float64
 17  russian_salary_to    868 non-null    float64
 18  russian_salary_from  1443 non-null   float64
dtypes: bool(1), float64(5), int64(2), object(11)
memory usage: 789.7+ KB
None
                 id  min_experience  max_experience      salary_to  \
count  5.576000e+03     5576.000000     5448.000000     868.000000
mean   1.118831e+08        1.782819        3.892070  154014.187788
std    4.573793e+06        1.248353        1.866409   94356.278321
min    4.293277e+07        0.000000        0.000000     800.000000
25%    1.108493e+08        1.000000        3.000000   80000.000000
50%    1.127516e+08        1.000000        3.000000  130000.000000
75%    1.148559e+08        3.000000        6.000000  200000.000000
max    1.185143e+08        6.000000        6.000000  550000.000000

         salary_from  russian_salary_to  russian_salary_from
count    1443.000000         868.000000          1443.000000
mean   109986.880804      157378.910611        111480.065204
std     64032.919113       94890.263035         64790.320761
min       700.000000       25000.000000         10000.000000
25%     65000.000000       80000.000000         65000.000000
50%     91000.000000      137965.500000         92000.000000
75%    150000.000000      200000.000000        150000.000000
max    400000.000000      550000.000000        441936.000000
id                        0
title                     0
company_name              0
currency               3903
experience                0
type_of_employment        0
work_format               0
description               0
skills                    0
address                   0
published_at              0
archived                  0
url                       0
min_experience            0
max_experience          128
salary_to              4708
salary_from            4133
russian_salary_to      4708
russian_salary_from    4133
dtype: int64

In [147]:
# Создаем целевую переменную
df['salary'] = np.where(
    df['russian_salary_from'].notna() & df['russian_salary_to'].notna(),
    (df['russian_salary_from'] + df['russian_salary_to']) / 2,
    np.where(
        df['russian_salary_from'].notna(),
        df['russian_salary_from'],
        df['russian_salary_to']
    )
)

# Удаляем строки, где salary = NaN (нет данных о зарплате)
df = df.dropna(subset=['salary'])

In [152]:
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 1673 entries, 4 to 5575
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1673 non-null   int64
 1   title                1673 non-null   object
 2   company_name         1673 non-null   object
 3   currency             1673 non-null   object
 4   experience           1673 non-null   object
 5   type_of_employment   1673 non-null   object
 6   work_format          1673 non-null   object
 7   description          1673 non-null   object
 8   skills               1673 non-null   object
 9   address              1673 non-null   object
 10  published_at         1673 non-null   object
 11  archived             1673 non-null   bool
 12  url                  1673 non-null   object
 13  min_experience       1673 non-null   int64
 14  max_experience       1643 non-null   float64
 15  salary_to            868 non-null    float64
 16  salary_from          1443 non-null   float64
 17  russian_salary_to    868 non-null    float64
 18  russian_salary_from  1443 non-null   float64
 19  salary               1673 non-null   float64
dtypes: bool(1), float64(6), int64(2), object(11)
memory usage: 263.0+ KB
None
                 id  min_experience  max_experience      salary_to  \
count  1.673000e+03     1673.000000     1643.000000     868.000000
mean   1.120265e+08        1.421996        3.251978  154014.187788
std    4.499440e+06        1.199100        1.939662   94356.278321
min    4.293277e+07        0.000000        0.000000     800.000000
25%    1.110002e+08        1.000000        3.000000   80000.000000
50%    1.127695e+08        1.000000        3.000000  130000.000000
75%    1.149503e+08        3.000000        6.000000  200000.000000
max    1.185143e+08        6.000000        6.000000  550000.000000

         salary_from  russian_salary_to  russian_salary_from         salary
count    1443.000000         868.000000          1443.000000    1673.000000
mean   109986.880804      157378.910611        111480.065204  127712.612570
std     64032.919113       94890.263035         64790.320761   78072.165857
min       700.000000       25000.000000         10000.000000   15000.000000
25%     65000.000000       80000.000000         65000.000000   70000.000000
50%     91000.000000      137965.500000         92000.000000  100000.000000
75%    150000.000000      200000.000000        150000.000000  160000.000000
max    400000.000000      550000.000000        441936.000000  550000.000000
id                       0
title                    0
company_name             0
currency                 0
experience               0
type_of_employment       0
work_format              0
description              0
skills                   0
address                  0
published_at             0
archived                 0
url                      0
min_experience           0
max_experience          30
salary_to              805
salary_from            230
russian_salary_to      805
russian_salary_from    230
salary                   0
dtype: int64

In [153]:
df.columns

Index(['id', 'title', 'company_name', 'currency', 'experience',
       'type_of_employment', 'work_format', 'description', 'skills', 'address',
       'published_at', 'archived', 'url', 'min_experience', 'max_experience',
       'salary_to', 'salary_from', 'russian_salary_to', 'russian_salary_from',
       'salary'],
      dtype='object')

In [156]:
df = df.drop(columns=[
    'id', 'company_name', 'currency', 'published_at', 
    'archived', 'url', 'salary_to', 'salary_from', 'experience', 'russian_salary_to', 'russian_salary_from'
])

In [158]:
df.columns

Index(['title', 'type_of_employment', 'work_format', 'description', 'skills',
       'address', 'min_experience', 'max_experience', 'salary'],
      dtype='object')

In [160]:
df = df.drop(columns=['description'
])

In [162]:
print(df[['min_experience', 'max_experience']].corr())

                min_experience  max_experience
min_experience        1.000000        0.971802
max_experience        0.971802        1.000000

Можно оставить только max_experience, так как корреляция между этими признаками очень высокая

In [165]:
print(df[['min_experience', 'max_experience', 'salary']].corr())

                min_experience  max_experience    salary
min_experience        1.000000        0.971802  0.550029
max_experience        0.971802        1.000000  0.522721
salary                0.550029        0.522721  1.000000

In [167]:
df = df.drop(columns=['max_experience'
])

In [169]:
df = pd.get_dummies(df, columns=['type_of_employment', 'work_format'])

In [171]:
import re

def clean_skills(skill_str):
    # Удаляем фигурные скобки
    skill_str = skill_str.strip('{}')
    # Удаляем кавычки и лишние пробелы
    skills = re.findall(r'(?:[^,"]|"(?:\\.|[^"])*")+', skill_str)
    skills = [s.strip().strip('"') for s in skills if s.strip()]
    return skills

# Пример применения
df['skills_cleaned'] = df['skills'].apply(clean_skills)

In [173]:
df

,title,skills,address,min_experience,salary,type_of_employment_Полная занятость,type_of_employment_Проектная работа,type_of_employment_Стажировка,type_of_employment_Частичная занятость,work_format_Вахтовый метод,work_format_Гибкий график,work_format_Полный день,work_format_Сменный график,work_format_Удаленная работа,skills_cleaned
4,Старший Аналитик,"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,428677.92,True,False,False,False,False,False,False,False,True,"[SQL, Clickhouse, BigQuery, Databases, Моделир..."
18,Ведущий Аналитик (Продукт ETL),"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,375645.60,True,False,False,False,False,False,False,False,True,"[SQL, Clickhouse, BigQuery, Databases, Моделир..."
24,Продуктовый аналитик (ETL),"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,486129.60,True,False,False,False,False,False,False,False,True,"[SQL, Clickhouse, BigQuery, Databases, Моделир..."
25,Аналитик данных / Data Analyst / Data Scientist,"{Python,pandas,Regex,""Natural Language Process...",Санкт-Петербург,1,132580.80,False,False,False,True,False,False,False,False,True,"[Python, pandas, Regex, Natural Language Proce..."
27,Продуктовый аналитик / Data Analyst (junior),"{Python,SQL,""Анализ данных"",Amplitude,""Английс...",Санкт-Петербург,1,70709.76,True,False,False,False,False,False,False,False,True,"[Python, SQL, Анализ данных, Amplitude, Англий..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,Экономист-аналитик,"{""Работа с большим объемом информации"",Бюджети...",Краснодар,1,80000.00,True,False,False,False,False,False,False,False,True,"[Работа с большим объемом информации, Бюджетир..."
5572,Аналитик,"{Ответственность,Внимательность,Коммуникабельн...",Новокузнецк,0,60000.00,True,False,False,False,False,False,True,False,False,"[Ответственность, Внимательность, Коммуникабел..."
5573,Системный аналитик,{},Москва,3,200000.00,True,False,False,False,False,False,True,False,False,[]
5574,Химик-аналитик в Фруктис (ст.Старовеличковская),{},Тимашевск,1,55000.00,True,False,False,False,False,False,False,True,False,[]
5575,Химик-аналитик в Фруктис (ст.Старовеличковская),{},Новотитаровская,1,55000.00,True,False,False,False,False,False,False,True,False,[]

In [175]:
from collections import Counter

# Собираем все навыки в один список
all_skills = [skill for sublist in df['skills_cleaned'] for skill in sublist]

# Топ-20 навыков
top_skills = [skill for skill, count in Counter(all_skills).most_common(20)]
print("Топ-20 навыков:", top_skills)

Топ-20 навыков: ['Аналитическое мышление', 'SQL', 'MS Excel', 'Анализ данных', 'Работа с большим объемом информации', 'Бизнес-анализ', 'Аналитика', 'Системный анализ', 'BPMN', 'Python', 'Аналитические исследования', 'UML', 'Разработка технических заданий', 'Работа с базами данных', 'Power BI', 'Excel', 'MS PowerPoint', 'Постановка задач разработчикам', 'Многозадачность', 'Финансовый анализ']

In [177]:
for skill in top_skills:
    df[f'skill_{skill}'] = df['skills_cleaned'].apply(lambda x: 1 if skill in x else 0)

# Удаляем промежуточные столбцы
df = df.drop(columns=['skills', 'skills_cleaned'])

In [179]:
df.columns

Index(['title', 'address', 'min_experience', 'salary',
       'type_of_employment_Полная занятость',
       'type_of_employment_Проектная работа', 'type_of_employment_Стажировка',
       'type_of_employment_Частичная занятость', 'work_format_Вахтовый метод',
       'work_format_Гибкий график', 'work_format_Полный день',
       'work_format_Сменный график', 'work_format_Удаленная работа',
       'skill_Аналитическое мышление', 'skill_SQL', 'skill_MS Excel',
       'skill_Анализ данных', 'skill_Работа с большим объемом информации',
       'skill_Бизнес-анализ', 'skill_Аналитика', 'skill_Системный анализ',
       'skill_BPMN', 'skill_Python', 'skill_Аналитические исследования',
       'skill_UML', 'skill_Разработка технических заданий',
       'skill_Работа с базами данных', 'skill_Power BI', 'skill_Excel',
       'skill_MS PowerPoint', 'skill_Постановка задач разработчикам',
       'skill_Многозадачность', 'skill_Финансовый анализ'],
      dtype='object')

In [181]:
print(df.isnull().sum())

title                                        0
address                                      0
min_experience                               0
salary                                       0
type_of_employment_Полная занятость          0
type_of_employment_Проектная работа          0
type_of_employment_Стажировка                0
type_of_employment_Частичная занятость       0
work_format_Вахтовый метод                   0
work_format_Гибкий график                    0
work_format_Полный день                      0
work_format_Сменный график                   0
work_format_Удаленная работа                 0
skill_Аналитическое мышление                 0
skill_SQL                                    0
skill_MS Excel                               0
skill_Анализ данных                          0
skill_Работа с большим объемом информации    0
skill_Бизнес-анализ                          0
skill_Аналитика                              0
skill_Системный анализ                       0
skill_BPMN                                   0
skill_Python                                 0
skill_Аналитические исследования             0
skill_UML                                    0
skill_Разработка технических заданий         0
skill_Работа с базами данных                 0
skill_Power BI                               0
skill_Excel                                  0
skill_MS PowerPoint                          0
skill_Постановка задач разработчикам         0
skill_Многозадачность                        0
skill_Финансовый анализ                      0
dtype: int64

In [183]:
top_titles = df['title'].value_counts().head(10).index
df['title_group'] = df['title'].apply(lambda x: x if x in top_titles else 'other')
df = pd.get_dummies(df, columns=['title_group'], prefix='title')
df = df.drop(columns=['title'])

In [185]:
df

,address,min_experience,salary,type_of_employment_Полная занятость,type_of_employment_Проектная работа,type_of_employment_Стажировка,type_of_employment_Частичная занятость,work_format_Вахтовый метод,work_format_Гибкий график,work_format_Полный день,...,title_Аналитик,title_Аналитик 1С,title_Аналитик в команду WFM,title_Аналитик данных,title_Бизнес-аналитик,title_Маркетолог-аналитик,title_Менеджер проектов в сфере медиааналитики,title_Системный аналитик,title_Финансовый аналитик,title_Экономист-аналитик
4,Москва,3,428677.92,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,Москва,3,375645.60,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,Москва,3,486129.60,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,Санкт-Петербург,1,132580.80,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,Санкт-Петербург,1,70709.76,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,Краснодар,1,80000.00,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5572,Новокузнецк,0,60000.00,True,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
5573,Москва,3,200000.00,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
5574,Тимашевск,1,55000.00,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5575,Новотитаровская,1,55000.00,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [187]:
top_address = df['address'].value_counts().head(10).index
df['address_group'] = df['address'].apply(lambda x: x if x in top_address else 'other')
df = pd.get_dummies(df, columns=['address_group'], prefix='address')
df = df.drop(columns=['address'])

In [189]:
df

,min_experience,salary,type_of_employment_Полная занятость,type_of_employment_Проектная работа,type_of_employment_Стажировка,type_of_employment_Частичная занятость,work_format_Вахтовый метод,work_format_Гибкий график,work_format_Полный день,work_format_Сменный график,...,address_Владивосток,address_Екатеринбург,address_Казань,address_Краснодар,address_Москва,address_Нижний Новгород,address_Новосибирск,address_Ростов-на-Дону,address_Самара,address_Санкт-Петербург
4,3,428677.92,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
18,3,375645.60,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
24,3,486129.60,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
25,1,132580.80,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
27,1,70709.76,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,1,80000.00,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5572,0,60000.00,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5573,3,200000.00,True,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
5574,1,55000.00,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
5575,1,55000.00,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1673 entries, 4 to 5575
Data columns (total 53 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   min_experience                                  1673 non-null   int64
 1   salary                                          1673 non-null   float64
 2   type_of_employment_Полная занятость             1673 non-null   bool
 3   type_of_employment_Проектная работа             1673 non-null   bool
 4   type_of_employment_Стажировка                   1673 non-null   bool
 5   type_of_employment_Частичная занятость          1673 non-null   bool
 6   work_format_Вахтовый метод                      1673 non-null   bool
 7   work_format_Гибкий график                       1673 non-null   bool
 8   work_format_Полный день                         1673 non-null   bool
 9   work_format_Сменный график                      1673 non-null   bool
 10  work_format_Удаленная работа                    1673 non-null   bool
 11  skill_Аналитическое мышление                    1673 non-null   int64
 12  skill_SQL                                       1673 non-null   int64
 13  skill_MS Excel                                  1673 non-null   int64
 14  skill_Анализ данных                             1673 non-null   int64
 15  skill_Работа с большим объемом информации       1673 non-null   int64
 16  skill_Бизнес-анализ                             1673 non-null   int64
 17  skill_Аналитика                                 1673 non-null   int64
 18  skill_Системный анализ                          1673 non-null   int64
 19  skill_BPMN                                      1673 non-null   int64
 20  skill_Python                                    1673 non-null   int64
 21  skill_Аналитические исследования                1673 non-null   int64
 22  skill_UML                                       1673 non-null   int64
 23  skill_Разработка технических заданий            1673 non-null   int64
 24  skill_Работа с базами данных                    1673 non-null   int64
 25  skill_Power BI                                  1673 non-null   int64
 26  skill_Excel                                     1673 non-null   int64
 27  skill_MS PowerPoint                             1673 non-null   int64
 28  skill_Постановка задач разработчикам            1673 non-null   int64
 29  skill_Многозадачность                           1673 non-null   int64
 30  skill_Финансовый анализ                         1673 non-null   int64
 31  title_other                                     1673 non-null   bool
 32  title_Аналитик                                  1673 non-null   bool
 33  title_Аналитик 1С                               1673 non-null   bool
 34  title_Аналитик в команду WFM                    1673 non-null   bool
 35  title_Аналитик данных                           1673 non-null   bool
 36  title_Бизнес-аналитик                           1673 non-null   bool
 37  title_Маркетолог-аналитик                       1673 non-null   bool
 38  title_Менеджер проектов в сфере медиааналитики  1673 non-null   bool
 39  title_Системный аналитик                        1673 non-null   bool
 40  title_Финансовый аналитик                       1673 non-null   bool
 41  title_Экономист-аналитик                        1673 non-null   bool
 42  address_other                                   1673 non-null   bool
 43  address_Владивосток                             1673 non-null   bool
 44  address_Екатеринбург                            1673 non-null   bool
 45  address_Казань                                  1673 non-null   bool
 46  address_Краснодар                               1673 non-null   bool
 47  address_Москва                                  1673 non-null   bool
 48  address_Нижний Новгород                         1673 non-null   bool
 49  address_Новосибирск                             1673 non-null   bool
 50  address_Ростов-на-Дону                          1673 non-null   bool
 51  address_Самара                                  1673 non-null   bool
 52  address_Санкт-Петербург                         1673 non-null   bool
dtypes: bool(31), float64(1), int64(21)
memory usage: 351.3 KB

In [195]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Выбираем только числовые признаки (исключаем бинарные bool)
numeric_cols = ['min_experience'] + [col for col in df.columns if col.startswith('skill_')]
X_numeric = df[numeric_cols]

# Считаем VIF
vif_data = pd.DataFrame()
vif_data["feature"] = X_numeric.columns
vif_data["VIF"] = [variance_inflation_factor(X_numeric.values, i) for i in range(X_numeric.shape[1])]
print(vif_data.sort_values("VIF", ascending=False))

                                      feature       VIF
19                      skill_Многозадачность  3.544144
16                                skill_Excel  2.990832
12                                  skill_UML  2.507164
9                                  skill_BPMN  2.472954
2                                   skill_SQL  2.201728
11           skill_Аналитические исследования  2.129169
7                             skill_Аналитика  2.042701
4                         skill_Анализ данных  1.839363
1                skill_Аналитическое мышление  1.836124
5   skill_Работа с большим объемом информации  1.793350
8                      skill_Системный анализ  1.662548
13       skill_Разработка технических заданий  1.524623
10                               skill_Python  1.467044
6                         skill_Бизнес-анализ  1.400010
3                              skill_MS Excel  1.380650
18       skill_Постановка задач разработчикам  1.360791
0                              min_experience  1.343009
15                             skill_Power BI  1.207259
14               skill_Работа с базами данных  1.148989
17                        skill_MS PowerPoint  1.143756
20                    skill_Финансовый анализ  1.098792

In [201]:
import statsmodels.api as sm

# Добавляем константу и преобразуем bool в int (для statsmodels)
X = df.drop(columns=['salary']).astype(int)
X = sm.add_constant(X)
y = df['salary']

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.547
Model:                            OLS   Adj. R-squared:                  0.534
Method:                 Least Squares   F-statistic:                     40.91
Date:                Sat, 05 Apr 2025   Prob (F-statistic):          1.34e-241
Time:                        17:47:03   Log-Likelihood:                -20557.
No. Observations:                1673   AIC:                         4.121e+04
Df Residuals:                    1624   BIC:                         4.148e+04
Df Model:                          48
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
const                                           4.528e+04   9019.223      5.021      0.000    2.76e+04     6.3e+04
min_experience                                  2.793e+04   1179.898     23.674      0.000    2.56e+04    3.02e+04
type_of_employment_Полная занятость             3.901e+04   6732.889      5.794      0.000    2.58e+04    5.22e+04
type_of_employment_Проектная работа             4.765e+04   1.53e+04      3.123      0.002    1.77e+04    7.76e+04
type_of_employment_Стажировка                  -3.271e+04   1.79e+04     -1.825      0.068   -6.79e+04    2446.300
type_of_employment_Частичная занятость         -8667.3660   9642.013     -0.899      0.369   -2.76e+04    1.02e+04
work_format_Вахтовый метод                      8.259e+04   4.48e+04      1.844      0.065   -5259.390     1.7e+05
work_format_Гибкий график                       1.687e+04   1.88e+04      0.900      0.368   -1.99e+04    5.36e+04
work_format_Полный день                        -2.291e+04   1.08e+04     -2.128      0.033    -4.4e+04   -1796.046
work_format_Сменный график                     -2.364e+04   1.87e+04     -1.261      0.208   -6.04e+04    1.31e+04
work_format_Удаленная работа                   -7629.2553   1.09e+04     -0.698      0.485   -2.91e+04    1.38e+04
skill_Аналитическое мышление                   -8339.7740   3853.208     -2.164      0.031   -1.59e+04    -781.993
skill_SQL                                       3.576e+04   4629.825      7.723      0.000    2.67e+04    4.48e+04
skill_MS Excel                                 -1.139e+04   4167.484     -2.733      0.006   -1.96e+04   -3216.859
skill_Анализ данных                            -1.131e+04   4754.856     -2.378      0.018   -2.06e+04   -1980.197
skill_Работа с большим объемом информации      -4588.4233   4884.628     -0.939      0.348   -1.42e+04    4992.411
skill_Бизнес-анализ                            -2484.6609   5480.226     -0.453      0.650   -1.32e+04    8264.396
skill_Аналитика                                -4767.9002   6731.632     -0.708      0.479    -1.8e+04    8435.696
skill_Системный анализ                          2876.2220   6075.538      0.473      0.636   -9040.494    1.48e+04
skill_BPMN                                     -7909.0222   7738.756     -1.022      0.307   -2.31e+04    7269.973
skill_Python                                   -4399.4567   6168.111     -0.713      0.476   -1.65e+04    7698.835
skill_Аналитические исследования               -4852.1866   8097.620     -0.599      0.549   -2.07e+04     1.1e+04
skill_UML                                       2.531e+04   8610.184      2.940      0.003    8421.624    4.22e+04
skill_Разработка технических заданий             405.7525   7042.791      0.058      0.954   -1.34e+04    1.42e+04
skill_Работа с базами данных                   -1.616e+04   6454.843     -2.503      0.012   -2.88e+04   -3494.921
skill_Power BI                                  2620.2475   6747.826      0.388      0.698   -1.06e+04    1.59e+04
skill_Excel                                    -2.748e+04    1.2e+04     -2.291      0.022    -5.1e+04   -3955.991
skill_MS PowerPoint                              188.8990   6777.669      0.028      0.978   -1.31e+04    1.35e+04
skill_Постановка задач разработчикам            7282.4532   7695.466      0.946      0.344   -7811.632    2.24e+04
skill_Многозадачность                          -4979.8696   1.81e+04     -0.275      0.783   -4.05e+04    3.05e+04
skill_Финансовый анализ                        -1.629e+04   7327.114     -2.223      0.026   -3.07e+04   -1917.276
title_other                                     7181.9688   3450.119      2.082      0.038     414.816    1.39e+04
title_Аналитик                                 -5953.5562   6640.563     -0.897      0.370    -1.9e+04    7071.415
title_Аналитик 1С                               2.995e+04   9573.570      3.128      0.002    1.12e+04    4.87e+04
title_Аналитик в команду WFM                   -7618.8490   2.31e+04     -0.330      0.742   -5.29e+04    3.77e+04
title_Аналитик данных                            427.4378   6705.516      0.064      0.949   -1.27e+04    1.36e+04
title_Бизнес-аналитик                           1.746e+04   6897.483      2.532      0.011    3935.768     3.1e+04
title_Маркетолог-аналитик                      -8708.5263   9971.004     -0.873      0.383   -2.83e+04    1.08e+04
title_Менеджер проектов в сфере медиааналитики -6493.0334   8941.094     -0.726      0.468    -2.4e+04     1.1e+04
title_Системный аналитик                        3.086e+04   6522.667      4.731      0.000    1.81e+04    4.37e+04
title_Финансовый аналитик                       -623.7028   7557.015     -0.083      0.934   -1.54e+04    1.42e+04
title_Экономист-аналитик                        -1.12e+04   9158.143     -1.223      0.221   -2.92e+04    6760.023
address_other                                  -8692.2594   3275.023     -2.654      0.008   -1.51e+04   -2268.545
address_Владивосток                             8495.1110   9574.151      0.887      0.375   -1.03e+04    2.73e+04
address_Екатеринбург                           -4413.9823   6957.421     -0.634      0.526   -1.81e+04    9232.482
address_Казань                                  8240.8669   6708.837      1.228      0.219   -4918.018    2.14e+04
address_Краснодар                                1.19e+04   8643.909      1.376      0.169   -5056.046    2.89e+04
address_Москва                                  4.667e+04   3106.504     15.023      0.000    4.06e+04    5.28e+04
address_Нижний Новгород                        -6116.7901   7847.088     -0.779      0.436   -2.15e+04    9274.691
address_Новосибирск                            -1.199e+04   8099.222     -1.481      0.139   -2.79e+04    3892.357
address_Ростов-на-Дону                         -1.861e+04   9385.384     -1.983      0.048    -3.7e+04    -197.828
address_Самара                                  3615.9760   9081.786      0.398      0.691   -1.42e+04    2.14e+04
address_Санкт-Петербург                         1.619e+04   4566.169      3.545      0.000    7229.941    2.51e+04
==============================================================================
Omnibus:                      386.971   Durbin-Watson:                   1.845
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1199.679
Skew:                           1.154   Prob(JB):                    3.11e-261
Kurtosis:                       6.448   Cond. No.                     2.47e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.69e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [203]:
# по одному удаляем незначимые признаки и пересчитываем модель
def iterative_feature_selection(X, y, threshold=0.05):
    while True:
        model1 = sm.OLS(y, X).fit()
        p_values = model1.pvalues.drop('const', errors='ignore')
        if all(p_values <= threshold):
            break
        worst_feature = p_values.idxmax()
        X = X.drop(columns=[worst_feature])
    return model1

final_model = iterative_feature_selection(X, y)

In [205]:
print(final_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.543
Model:                            OLS   Adj. R-squared:                  0.537
Method:                 Least Squares   F-statistic:                     88.99
Date:                Sat, 05 Apr 2025   Prob (F-statistic):          4.87e-261
Time:                        17:52:32   Log-Likelihood:                -20566.
No. Observations:                1673   AIC:                         4.118e+04
Df Residuals:                    1650   BIC:                         4.130e+04
Df Model:                          22
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
const                                3.366e+04   9294.233      3.622      0.000    1.54e+04    5.19e+04
min_experience                       2.813e+04   1134.975     24.785      0.000    2.59e+04    3.04e+04
type_of_employment_Полная занятость  4.975e+04   8609.032      5.779      0.000    3.29e+04    6.66e+04
type_of_employment_Проектная работа  5.429e+04   1.97e+04      2.750      0.006    1.56e+04     9.3e+04
work_format_Полный день              -1.52e+04   3047.276     -4.988      0.000   -2.12e+04   -9223.141
skill_Аналитическое мышление        -1.015e+04   3624.707     -2.799      0.005   -1.73e+04   -3036.856
skill_SQL                            3.437e+04   3873.051      8.874      0.000    2.68e+04     4.2e+04
skill_MS Excel                      -1.207e+04   3915.041     -3.083      0.002   -1.97e+04   -4391.253
skill_Анализ данных                 -1.381e+04   4509.266     -3.062      0.002   -2.27e+04   -4961.726
skill_UML                            2.179e+04   6086.941      3.579      0.000    9846.112    3.37e+04
skill_Работа с базами данных        -1.729e+04   6275.845     -2.756      0.006   -2.96e+04   -4985.229
skill_Excel                         -3.906e+04   7819.971     -4.995      0.000   -5.44e+04   -2.37e+04
skill_Финансовый анализ             -1.534e+04   7031.735     -2.182      0.029   -2.91e+04   -1549.813
title_other                          1.238e+04   3493.670      3.544      0.000    5528.135    1.92e+04
title_Аналитик 1С                    3.521e+04   1.02e+04      3.439      0.001    1.51e+04    5.53e+04
title_Бизнес-аналитик                2.315e+04   7141.687      3.241      0.001    9141.150    3.72e+04
title_Системный аналитик             3.694e+04   6990.210      5.285      0.000    2.32e+04    5.07e+04
address_other                        -2.12e+04   3905.347     -5.428      0.000   -2.89e+04   -1.35e+04
address_Екатеринбург                -1.813e+04   7685.288     -2.359      0.018   -3.32e+04   -3053.862
address_Москва                       3.465e+04   3706.497      9.348      0.000    2.74e+04    4.19e+04
address_Нижний Новгород             -1.843e+04   8691.320     -2.121      0.034   -3.55e+04   -1385.189
address_Новосибирск                 -2.134e+04   8956.947     -2.383      0.017   -3.89e+04   -3771.796
address_Ростов-на-Дону              -3.122e+04   1.04e+04     -3.012      0.003   -5.16e+04   -1.09e+04
==============================================================================
Omnibus:                      383.238   Durbin-Watson:                   1.833
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1148.005
Skew:                           1.155   Prob(JB):                    5.17e-250
Kurtosis:                       6.337   Cond. No.                         38.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [207]:
print(f"Старый R²: {model.rsquared:.3f}, Новый R²: {final_model.rsquared:.3f}")

Старый R²: 0.547, Новый R²: 0.543

In [209]:
print(f"Старый AIC: {model.aic:.1f}, Новый AIC: {final_model.aic:.1f}")

Старый AIC: 41212.7, Новый AIC: 41178.0

In [ ]:
df = df.drop(columns=['skill_HR-аналитика', 'skill_BPMN', 'skill_User Story', ])